<app-header title="Inventario"></app-header>

<ion-content class="ion-padding">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Filtros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <!-- Filtro de Área -->
        <ion-col size="12" size-md="6">
          <div class="custom-filter">
            <ion-item>
              <ion-label>Área</ion-label>
              <ion-select [(ngModel)]="filtro.area" placeholder="Selecciona un área" (ionChange)="filtrarEquipos()">
                <ion-select-option *ngFor="let area of areas" [value]="area">{{ area }}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>

        <!-- Filtro de Año -->
        <ion-col size="12" size-md="6">
          <div class="custom-filter">
            <ion-item>
              <ion-label>Año</ion-label>
              <ion-select [(ngModel)]="filtro.anio" placeholder="Selecciona año" (ionChange)="filtrarEquipos()">
                <!-- <ion-select-option value="2023">2023</ion-select-option>-->
                <ion-select-option value="Todos">Todos</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header class="header-with-search">
      <div class="search-container">
        <ion-searchbar [(ngModel)]="textoBusqueda" (ionInput)="filtrarEquipos()" placeholder="Buscar..." animated="true"
          debounce="300" class="custom-searchbar">
        </ion-searchbar>
      </div>



    </ion-card-header>
    <div class="button-container">
      <ion-toolbar>
        <ion-buttons slot="end">

            <ion-button fill="clear"  color="danger" (click)=" imprimir()">
            <img src="assets/icon/pdf.webp" alt="PDF" style="width: 51px; height: 40px;">
          </ion-button>

          <ion-button fill="solid" shape="round" color="primary" (click)="OpenModalSubir()">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            Agregar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

    <ion-card-content>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>NO</th>
              <th>Codigo </th>
              <th>Descripcion</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Serie</th>
              <th>Color</th>
              <th>Año</th>
              <th>Estado</th>
              <th>Area</th>
              <th>Observacion</th>
              <th>Opcion</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of inventarioFiltrado">
              <td>{{ item.numero }}</td>
              <td>{{ item.codigo }}</td>
              <td>{{ item.descripcion }}</td>
              <td>{{ item.marca }}</td>
              <td>{{ item.modelo }}</td>
              <td>{{ item.serie }}</td>
              <td>{{ item.color }}</td>
              <td>{{ item.anio }}</td>
              <td>{{ item.estado }}</td>
              <td>{{ item.ubicacion}}</td>
              <td>{{ item.observacion }}</td>
              <td>
                <ion-button shape="round" color="primary" size="small" (click)="verEquipo(item)">
                  Ver mas
                </ion-button>
              </td>
              <td>
                <ion-button *ngIf="isUsuarioNormal && item.baja === undefined" shape="round" color="warning"
                  size="small" (click)="confirmarBaja(item)">
                  Solicitud de Baja
                </ion-button>
                <ion-chip *ngIf="isUsuarioNormal && item.baja === null" color="success">enviado</ion-chip>

                <!-- Jefe o Auxiliar de Bodega -->
                <ion-chip *ngIf="(isJefeBodega || isAuxBodega) && item.baja === undefined" color="medium">sin
                  acción</ion-chip>
                <ion-button *ngIf="(isJefeBodega || isAuxBodega) && item.baja === null" shape="round" color="warning"
                  size="small" (click)="confirmarBajaJ(item)">
                  Solicitud de Baja
                </ion-button>
                <ion-chip *ngIf="(isJefeBodega || isAuxBodega) && item.baja === false" color="success">en
                  espera</ion-chip>
                <ion-button *ngIf="(isJefeBodega || isAuxBodega) && item.baja === true" shape="round" color="danger"
                  size="small" (click)="darDeBaja(item)">
                  Dar de baja
                </ion-button>

                <!-- Gerente -->
                <ion-chip *ngIf="isGerente && (item.baja === undefined || item.baja === null)" color="medium">sin
                  acción</ion-chip>
                <ion-button *ngIf="isGerente && item.baja === false" shape="round" color="danger" size="small"
                  (click)="permitirBaja(item)">
                  Aceptar
                </ion-button>
                <ion-chip *ngIf="isGerente && item.baja === true" color="primary">Aceptado</ion-chip>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Contenedor para móviles -->
  <ion-card-content>
    <div class="mobile-container">
      <div class="mobile-table" *ngFor="let item of inventarioFiltrado">
        <table>
          <tbody>
            <tr>
              <td class="title">No</td>
              <td class="data">{{ item.numero }}</td>
            </tr>
            <tr>
              <td class="title">Codigo</td>
              <td class="data">{{ item.codigo }}</td>
            </tr>
            <tr>
              <td class="title">Descripcion</td>
              <td class="data">{{ item.descripcion }}</td>
            </tr>
            <tr>
              <td class="title">Marca</td>
              <td class="data">{{ item.marca }}</td>
            </tr>
            <tr>
              <td class="title">Modelo</td>
              <td class="data">{{ item.modelo }}</td>
            </tr>
            <tr>
              <td class="title">Serie</td>
              <td class="data">{{ item.serie}}</td>
            </tr>
            <tr>
              <td class="title">Color</td>
              <td class="data">{{ item.color }}</td>
            </tr>
            <tr>
              <td class="title">Año</td>
              <td class="data">{{ item.anio }}</td>
            </tr>
            <tr>
              <td class="title">Estado</td>
              <td class="data">{{ item.estado }}</td>
            </tr>
            <tr>
              <td class="title">Factura</td>
              <td class="data">{{ item.factura }}</td>
            </tr>
            <tr>
              <td class="title">Ubicacion</td>
              <td class="data">{{ item.ubicacion }}</td>
            </tr>
            <tr>
              <td class="title">Precio</td>
              <td class="data">{{ item.precio }}</td>
            </tr>
            <tr>
              <td class="title">Comprobante</td>
              <td class="data">{{ item.comprobante }}</td>
            </tr>

            <tr>
              <td class="title">Comprobante</td>
              <td class="data">{{ item.factura }}</td>
            </tr>
            <tr>
              <td class="title">Observacion</td>
              <td class="data">{{ item.observacion }}</td>
            </tr>
            <tr>
              <td class="title">Opciones</td>
              <td class="data actions">
                <ion-button fill="clear" color="primary" size="small" (click)="verEquipo(item)">
                  <ion-icon name="cloud-upload-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" size="small">
                  <ion-icon name="cloud-download-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-card-content>

  <div style="text-align: center; margin-top: 10px;">
    <ion-button size="small" (click)="paginaAnterior()" [disabled]="paginaActual === 1">Anterior</ion-button>
    <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <ion-button size="small" (click)="paginaSiguiente()"
      [disabled]="paginaActual === totalPaginas">Siguiente</ion-button>
  </div>

  <div class="fab-container">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button routerLink="sing-up">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <!-- FAB para agregar -->
  <div class="fab-container">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

</ion-content>